page-myevent {
  .button-inner {
    color: color($colors, dark, base);
    font-weight: bold;
    font-size: 2rem;
  }

  .add-fab {
    background-color: #FF5577;

    .button-inner {
      color: #fff;
    }
  }

  .activated {
    background-color: #FF5577 !important;
  }
}
